.btn {
    padding: 0.5rem 1.5rem;
    outline: none;
    border:none;
    cursor: pointer;
    border-radius: .7rem;
    font-weight: bold;
    &-primary {
        background: $color-primary; 
        &:hover {
            background: darken($color-primary,10%);
        }
    }
    &-white {
        background: $color-white;
       
    }

    &-transparent {
         border: 1px solid $color-black;
         background: transparent;
         &:hover {
             border: 2px solid black;
         }
    }

}