
// COLORS
$color-primary: rgb(87, 217, 163);
$color-red-light: rgb(241, 162, 162);
$color-red-dark: rgb(124, 11, 11);
$color-green-light: rgb(149, 231, 149);
$color-green-light-2: rgba(149, 231, 149,.6);
$color-green: green;
$color-blue-light: rgb(139, 193, 214);
$color-blue: rgb(20, 70, 90);
$color-white: white;
$color-black: black;

// FONTS
$default-font-size: 1.8rem;
